.App {
  font-family: sans-serif;
  text-align: center;
}

.card {
  display: flex;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1rem;
  /* justify-content: space-between; */
}

.autor {
  width: 15%;
}

.tweet {
  flex-grow: 1;
}

.delete {
  width: 15px;
  border-radius: 10px;
  color: white;
  padding: 5px;
  cursor: pointer;
  margin-left: 10px;
  background-color: red;
  height: 15px;
}

h2,
h4 {
  text-align: start;
  margin: 0;
}
